<h1>Recipes</h1>
<div class = "row">
  <% @recipes.each do |recipe| %>
    <h2><%= link_to recipe.title, recipe.original_url %></h2>
    <%= image_tag(recipe.image) %>
    <br />
    <strong>yield: </strong><%= recipe.yield %>
    <strong>time: </strong><%= recipe.time %>
    <br />
    <%= recipe.description %>
  <% end %>
</div>
